.MainPage {
    position: absolute;
    width: 100%;
    height: wrap; 
    background-color: #ffffff;
    padding-bottom: 15%;
    margin-top: 2.5%;
}

.wave {
    position: fixed;
    bottom: 0%;
    left: 0;
    height: 100%;
    z-index: 0;
}

@media screen and (max-width: 1050px) {
    .MainPage{
        margin-top: 5%;
    }
  }

@media screen and (max-width: 767px) {
    .wave{
        bottom: -15%;
    }
}